body{
    height: 1000px; ;
}
div{
    border: solid black;
    height: 100px;
    width: 80px;
}
.section1{
    position:absolute;
    background-color: blueviolet;
    top: 50%;
    left: 40%;


}
.section2{
    background-color: brown;

}
.feedback{
    border: solid black;
    height: 100px;
    width: 80px;
    position: fixed;
}